@use '@styles/functions' as *;
@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.Textarea {
  @include font-text;

  background-color: $color-black;
  border-radius: $border-radius;
  color: $color-white;
  padding: to-rem(14);
  width: 100%;
  opacity: 0.8;
  display: flex;
  align-items: flex-start;
  gap: to-rem(20);
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  border: none;
  resize: vertical;
  min-height: to-rem(150);
  max-height: 100vh;

  &::placeholder {
    color: $color-white;
    font-weight: $font-weight-light;
    opacity: 0.6;
  }
}
