@use "@styles/functions" as *;
@use "@styles/variables" as *;
@use "@components/Layout/Layout" as layout;

$-full-size: calc(100% - layout.$padding * 2);

@keyframes slide-in {
  from {
    translate: 0 0;
  }

  to {
    translate: 0 calc(-100% - #{layout.$padding});
  }
}

.Modal {
  background-color: $color-purple;
  border-radius: $border-radius;
  border: none;
  top: 100%;
  translate: 0 0;
  color: $color-white;
  left: layout.$padding;
  max-height: $-full-size;
  overflow-y: auto;
  padding: to-rem(40) to-rem(20);
  position: fixed;
  width: $-full-size;
  transition: 0.3s ease-out;

  &::backdrop {
    background-color: $color-black;
    opacity: 0.6;
  }

  &[open] {
    animation: slide-in 0.3s ease-out forwards;
  }

  &__button {
    position: absolute;
    right: to-rem(10);
    top: to-rem(10);
  }
}