@use "@styles/functions" as *;
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

$padding: to-rem(14);
$height: to-rem(58);

.TextField {
  @include fixed-size-height($height);
  @include font-text;
  @include text-overflow;

  background-color: $color-black;
  border-radius: $border-radius;
  color: $color-white;
  padding: $padding;
  width: 100%;

  &::placeholder {
    color: $color-white;
    font-weight: $font-weight-light;
    opacity: 0.6;
  }

  &:focus-visible {
    @include outline;
  }
}
