@use "@styles/functions" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@components/Layout/Layout" as layout;

$-margin: invert-sign(layout.$padding);
$icon-size: to-rem(24);
$height: to-rem(86);

@mixin offset {
  margin-top: calc($height - layout.$padding + to-rem(10));
}

.Header {
  @include fixed-size-height($height);

  align-items: center;
  background-color: $color-purple;
  display: grid;
  grid-column-start: 2;
  grid-gap: to-rem(20);
  grid-template-columns: $icon-size 1fr $icon-size;
  left: 0;
  padding: 0 to-rem(20);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-fixed;

  &__go-back {
    button {
      align-items: center;
      color: $color-pink;
      display: flex;
      justify-content: center;

      .Icon {
        @include fixed-size($icon-size);
      }
    }
  }

  &:not(&--has-go-back) .Header__go-back button {
    display: none;
  }

  &__title {
    @include text-overflow;

    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }
}
