@use "@styles/functions" as *;
@use "@styles/variables" as *;
@use "@components/NavBar/NavBar" as navbar;

.PeoplePage {
  margin-bottom: calc(navbar.$height + $shadow-gradient-height + to-rem(10));

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: to-rem(6);
  }
}
