@use "@styles/functions" as *;
@use "@styles/variables" as *;
@use "@components/Header/Header" as header;
@use "@components/NavBar/NavBar" as navbar;

.PeoplePage {
  @include header.offset;
  @include navbar.offset;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: to-rem(6);
  }
}
