@use "@styles/functions" as *;
@use "@styles/mixins" as *;
@use "@styles/variables" as *;
@use "@shared/Form/index" as form;
@use "@shared/IconButton/IconButton" as iconbutton;
@use "@shared/Layout/Layout" as layout;
@use "@shared/Header/Header" as header;

$-padding: to-rem(10);
$-field-height: to-rem(58);

.PersonPage {
  @include header.offset;

  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: calc(form.$height + ($-padding * 2) + $shadow-gradient-height);

  .Skeleton--name {
    @include fixed-size-height(to-rem(30));

    margin-inline: auto;
    width: clamp(3rem, 50%, 10rem);
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    row-gap: to-rem(24);

    &-error {
      @include font-text-small;
    }

    &-loading {
      @include font-text-small;

      align-items: center;
      column-gap: to-rem(4);
      display: flex;

      .Icon {
        @include fixed-size(to-rem(10));
      }
    }
  }

  &__form {
    background-color: $color-purple;
    bottom: 0;
    left: 0;
    padding: $-padding layout.$padding calc($-padding + layout.$padding);
    position: fixed;
    width: 100%;
    z-index: $zindex-fixed;

    &::after {
      @include shadow-gradient;

      content: "";
      left: 0;
      top: 0;
      transform: translateY(-100%);
    }

    .Skeleton--field {
      @include fixed-size-height($-field-height);
    }

    @include bp-desktop {
      @include layout.max-width;

      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__field-wrapper {
    position: relative;

    .TextField {
      @include fixed-size-height($-field-height);

      padding-right: calc(form.$padding * 2 + iconbutton.$size-medium);
    }
  }

  &__form-button {
    position: absolute;
    right: form.$padding;
    top: 50%;
    transform: translateY(-50%);
  }
}
