@use '@styles/functions' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.SentenceFormPage {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__form {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;

    &-field {
      display: flex;
      flex-direction: column;
      margin-bottom: to-rem(40);
      justify-content: flex-end;
      gap: to-rem(6);

      label {
        font-weight: $font-weight-medium;
      }
    }

    .error {
      @include font-text-small;

      color: $color-pink;
    }

    &-button {
      .Icon--add {
        width: to-rem(22);
      }
    }
  }
}
