@use '@styles/functions' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

$border-radius: to-rem(10);

form {
  min-height: 100vh;

  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 6px;

    label {
      font-weight: 500;
    }
  }

  .error {
    @include font-text-small;

    color: $color-pink;
  }

  button {
    .Icon--add {
      width: to-rem(22);
    }
  }
}
