@use '@styles/functions' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

$border-radius: to-rem(10);

.SentenceFormPage {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__form {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;

    &-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      justify-content: flex-end;
      gap: 6px;

      label {
        font-weight: 500;
      }
    }

    .error {
      @include font-text-small;

      color: $color-pink;
    }

    &-button {
      .Icon--add {
        width: to-rem(22);
      }
    }
  }
}
