@use "@styles/functions" as *;

$padding: to-rem(20);

.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: $padding;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
