@keyframes keyframes-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

@keyframes keyframes-pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
