@use "@styles/functions" as *;
@use "@styles/variables" as *;

// Text styles
@mixin font-title-h1 {
  font-size: to-rem(20);
  font-weight: $font-weight-semibold;
  line-height: to-rem(26);
}

@mixin font-text {
  font-size: to-rem(16);
  font-weight: $font-weight-regular;
  line-height: to-rem(20);
}

@mixin font-text-small {
  font-size: to-rem(12);
  font-weight: $font-weight-light;
  line-height: to-rem(18);
}

// Text overflow
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

// Shadow
@mixin shadow-gradient {
  background: linear-gradient(
    rgba($color-purple, 0),
    rgba($color-purple, 100%)
  );
  height: $shadow-gradient-height;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
}

// Outline
@mixin outline {
  outline: to-rem(2) solid $color-pink;
  outline-offset: to-rem(2);
}

// Size
@mixin fixed-size($width, $height: $width) {
  @include fixed-size-width($width);
  @include fixed-size-height($height);
}

@mixin fixed-size-width($width) {
  max-width: $width;
  min-width: $width;
  width: $width;
}

@mixin fixed-size-height($height) {
  height: $height;
  max-height: $height;
  min-height: $height;
}
