@use "@styles/functions" as *;

// Colors
$color-black: #0b040b;
$color-purple: #231021;
$color-pink: #e83668;
$color-gray: #6a5f63;
$color-white: #fff;

// Fonts
$font-name-montserrat: "Montserrat";

// Fonts weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Z-index
$zindex-fixed: 1030;

// Shadow
$shadow: 0 0 to-rem(20) 0 rgba($color-pink, 0.2);
$shadow-gradient-height: to-rem(40);

// Border radius
$border-radius: to-rem(10);
