@use '@styles/functions' as *;
@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.SelectFieldWrapper {
  position: relative;

  &::placeholder {
    @include font-text;

    color: $color-white;
    font-weight: $font-weight-light;
    opacity: 0.6;
  }

  &__field {
    @include font-text;

    display: flex;
    border-radius: $border-radius;
    padding: to-rem(14);
    color: $color-white;
    background: $color-black;
    opacity: 0.8;
    border: none;
    width: 100%;
    appearance: none;
  }

  .Icon--small-arrow-down {
    position: absolute;
    right: to-rem(14);
    top: 50%;
    transform: translateY(-50%);
    width: to-rem(20);
    color: $color-pink;
  }
}
