/* stylelint-disable property-no-vendor-prefix */
@use '@styles/functions' as *;
@use '@styles/variables' as *;

.shadow-nav {
  height: to-rem(120);
  background: linear-gradient(0deg, $color-purple 0%, rgb(25 11 23 / 0%) 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav {
  align-items: center;
  bottom: 0;
  display: flex;
  height: to-rem(80);
  justify-content: center;
  position: fixed;
  width: 100%;

  &::before {
    content: '';
    mask:
      url('/images/mask.svg') top center no-repeat,
      linear-gradient(#fff 0 0);
    -webkit-mask:
      url('/images/mask.svg') top center no-repeat,
      linear-gradient(#fff 0 0);
    mask-composite: destination-out;
    -webkit-mask-composite: destination-out;
    background-color: $color-black;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;

    li {
      position: relative;
      list-style: none;
    }
  }

  .add-button {
    position: absolute;
    top: -50%;
    width: to-rem(60);
    height: to-rem(60);
    background-color: $color-pink;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a {
  color: $color-white;
}

.active {
  color: $color-pink;
}
