/* stylelint-disable property-no-vendor-prefix */

@use "@styles/functions" as *;
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

$nav-height: to-rem(84);
$gradient-height: to-rem(40);

.NavBar {
  background-color: $color-purple;
  bottom: 0;
  height: $nav-height;
  left: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: $zindex-fixed;

  &::after {
    background: linear-gradient(
      rgba($color-purple, 0),
      rgba($color-purple, 100%)
    );
    content: "";
    height: $gradient-height;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    translate: 0 -100%;
    width: 100%;
    z-index: -1;
  }

  &::before {
    -webkit-mask:
      url("/images/mask.svg") 50% -1px no-repeat,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    background-color: $color-black;
    content: "";
    height: 100%;
    left: 0;
    mask:
      url("/images/mask.svg") 50% -1px no-repeat,
      linear-gradient(#fff 0 0);
    mask-composite: destination-out;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__nav {
    flex: 1;
  }

  &__list {
    column-gap: to-rem(84);
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__item:last-of-type {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% calc(-50% - 12px);

    a {
      @include fixed-size(to-rem(60));

      align-items: center;
      background-color: $color-pink;
      border-radius: 50%;
      box-shadow: $shadow;
      display: flex;
      justify-content: center;
    }
  }

  .Icon {
    @include fixed-size(to-rem(40));

    color: $color-white;
  }

  &__item:not(:last-of-type) a.active .Icon {
    color: $color-pink;
    filter: drop-shadow($shadow);
  }
}
