@use "@styles/functions" as *;
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

$size-medium: to-rem(30);

.IconButton {
  align-items: center;
  border-radius: 50%;
  color: $color-white;
  display: flex;
  justify-content: center;

  &--variant-primary {
    background-color: $color-pink;
    box-shadow: $shadow;
  }

  &--variant-secondary {
    background-color: $color-purple;
  }

  &--size-medium {
    @include fixed-size($size-medium);

    .Icon {
      @include fixed-size(to-rem(20));
    }
  }

  &--size-large {
    @include fixed-size(to-rem(60));

    .Icon {
      @include fixed-size(to-rem(40));
    }
  }

  &:disabled {
    background-color: $color-gray;
    box-shadow: none;
    cursor: not-allowed;
  }

  &:focus-visible {
    @include outline;
  }
}
