@use "@styles/functions" as *;
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.Message {
  display: flex;
  column-gap: to-rem(18);

  &__content {
    align-items: flex-end;
    background-color: $color-black;
    border-radius: 0 $border-radius $border-radius;
    display: flex;
    flex-direction: column;
    margin-top: to-rem(9);
    max-width: to-rem(400);
    min-width: to-rem(100);
    padding: to-rem(10) to-rem(14);
    position: relative;
    width: fit-content;

    &::before {
      border-left: to-rem(12) solid transparent;
      border-top: to-rem(14) solid $color-black;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateX(-100%);
      width: 0;
    }
  }

  &__text {
    @include font-text;

    overflow-wrap: anywhere;
    width: 100%;
  }

  &__date,
  &__waiting {
    @include font-text-small;

    margin: to-rem(12) 0 0 to-rem(10);
    opacity: 0.6;
  }

  &__waiting {
    align-items: center;
    column-gap: to-rem(4);
    display: flex;

    p {
      @include font-text-small;
    }

    .Icon {
      @include fixed-size(to-rem(12));
    }
  }
}
