@use "@styles/functions" as *;
@use "@styles/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.shadow-nav {
  height: 30px;
  background: linear-gradient(0deg, #190b17 0%, rgba(25, 11, 23, 0) 100%);
}

.navigation {
  position: relative;
  height: 70px;
  background: linear-gradient(45deg, #2196f3, #e91e63);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navigation ul li {
  position: relative;
  list-style: none;
  z-index: 1;
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: linear-gradient(45deg, #2196f3, #e91e63);
  border: 6px solid #06021b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 #06021b;
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 #06021b;
}
