@use "@styles/functions" as *;
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.Button {
  align-items: center;
  border-radius: $border-radius;
  column-gap: to-rem(14);
  display: flex;
  font-size: to-rem(18);
  font-weight: $font-weight-semibold;
  justify-content: center;
  padding: to-rem(16) to-rem(20);
  width: 100%;

  &:disabled {
    cursor: not-allowed;
    background-color: $color-gray;
    box-shadow: none;
  }

  &:focus-visible {
    @include outline;
  }

  &--variant-primary {
    background-color: $color-pink;
    box-shadow: $shadow;
  }

  &--variant-secondary {
    background-color: $color-black;
  }

  .Icon {
    @include fixed-size(to-rem(22));
  }
}
