@use '@styles/functions' as *;
@use '@styles/variables' as *;

.Button {
  display: flex;
  width: 100%;
  padding: to-rem(16) to-rem(20);
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  background: $color-pink;
  box-shadow: $shadow;
  color: $color-white;
  font-size: to-rem(18);
  font-weight: $font-weight-semibold;
  gap: to-rem(14);

  &:disabled {
    cursor: not-allowed;
    background-color: $color-gray;
    box-shadow: none;
  }
}
